
<!DOCTYPE html>
<html lang="en">
<head>
<title>Secelion </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="css/swipebox.css"> <!-- gallery css -->
<!-- testimonials css -->
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" /><!-- flexslider css -->
<!-- //testimonials css -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="https://fonts.googleapis.com/css?family=Arima+Madurai:500" rel="stylesheet">
</head>

<body>
        <img class="crazy" src="images/bg-fram.png">
<!-- banner -->
<div class="main_section_decor" id="home">
	<div class="decorits_decore_banner_nav">
		<div class="container">
		<nav class="navbar navbar-default">
			<div class="navbar-header navbar-left">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<h1><a class="navbar-brand" href="index.html"><img src="images/logo.png"></a></h1>
			</div>
			<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
				<nav class="link-effect-2" id="link-effect-2">
					<ul class="nav navbar-nav">
						<li class="active"><a href="index.html" class="effect-3">Home</a></li>
						<li><a href="#about" class="effect-3 scroll">About</a></li>
						<li><a href="#services" class="effect-3 scroll">Services</a></li>
						<li><a href="#portfolio" class="effect-3 scroll">Gallery</a></li>
						<li><a href="#client" class="effect-3 scroll">Clients</a></li>
						<li><a href="#contact" class="effect-3 scroll">Contact Us</a></li>
						<li><a href="index-ar.html" class="">العربية</a></li>
					</ul>
				</nav>
			</div>
		</nav>
		<div class="clearfix"> </div>
		</div>
	</div>
</div>

<!-- Slider -->
<div class="banner_top">
	<div class="slider">
		<div class="wrapper">
			<ul class="rslides" id="slider">
				<li>
					<div class="decor_banner_text_info">
						<h2> <span>Secelion</span> </h2>
						<!--<a href="#about">Read More</a>-->
						<!--<a href="#contact" class="scroll">Contact Us</a>-->
					</div>
				</li>
				<li>
					<div class="decor_banner_text_info">
						<h3> <span class="slide2">Secelion</span> </h3>
						<!--<a href="#about">Read More</a>-->
						<!--<a href="#contact" class="scroll">Contact Us</a>-->
					</div>
				</li>
				<li>
					<div class="decor_banner_text_info">
						<h3> <span class="slide3">Secelion</span> </h3>
						<!--<a href="#about">Read More</a>-->
						<!--<a href="#contact" class="scroll">Contact Us</a>-->
					</div>
				</li>
			</ul>
			<ul id="slider3-pager">
				<li><a href="#"><img src="images/banner11.jpg" alt="" /></a></li>
				<li><a href="#"><img src="images/banner22.jpg" alt="" /></a></li>
				<li><a href="#"><img src="images/banner33.jpg" alt="" /></a></li>

			</ul>
		</div>
	</div>
</div>
<!-- //banner -->

<!-- About -->
<div class="about" id="about">
	<div class="container">
		<h3 class="heading">About <span>Us</span></h3>
		<div class="about_grids">
			<div class="col-md-6 about_left">
				<h4>- Secelion offers an integrated approach of engineering consultancy in terms of solutions, innovation and creative capabilities to reality
				    <br> - We are fully aware that Sisalon will make your surroundings of open space for me with integrated designs in every detail </h4>
				    <br>
		  <h4>- Our Mission :</h4>
		  
		  <h4>Following global engineering standards and understanding the customer's need to see and integrate them with expertise to achieve the desired expectations, 
		  <br>customer satisfaction is the priority of the team</h4>
			</div>
			<div class="col-md-6 about_right">
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>
					<div class="carousel-inner">
						<div class="item active">
								<img src="images/11.jpg" alt="" style="width:100%;">
							<div class="carousel-caption banner-dott">
							</div>
						</div>
						<div class="item">
								<img src="images/22.jpg" alt="" style="width:100%;">
							<div class="carousel-caption banner-dott">
							</div>
						</div>
						<div class="item">
								<img src="images/33.jpg" alt="" style="width:100%;">
							<div class="carousel-caption banner-dott">
							</div>
						</div>
					</div>
					<a class="left carousel-control" href="#myCarousel" data-slide="prev">
						<span class="fa fa-angle-left"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next">
						<span class="fa fa-angle-right"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //About -->

<!-- Services -->
<div class="services" id="services">
	<div class="container">
		<h3 class="heading">What We <span>Do</span></h3>
		<br>
		<p>Designs and project management and supervision of the site to turnkey</p>
		<br>
		<div class="servicegrids">
			<div class="col-md-3 ser_grid1 icon1">
				<!--<span class="glyphicon glyphicon-lamp"></span>-->
				<img src="images/s1.jpg" style="width: 50%;">
				<h3>Architecture </h3>
				<!--<p>Phasellus congue erat sem, ut tempor mauris tincidunt non. Nulla in erat-->
				<!--nec orci semper ultrices et sed libero.</p>-->
				<!--<a href="#">Read More <span class="fa fa-angle-right"></span></a>-->
			</div>
			<div class="col-md-3 ser_grid1 icon2">
				<!--<span class="glyphicon glyphicon-blackboard"></span>-->
					<img src="images/s2.jpg" style="width: 50%;">
				<h3>Interior Design Residential</h3>
			
				<!--<p>Phasellus congue erat sem, ut tempor mauris tincidunt non. Nulla in erat-->
				<!--nec orci semper ultrices et sed libero.</p>-->
				<!--<a href="#">Read More <span class="fa fa-angle-right"></span></a>-->
			</div>
			<div class="col-md-3 ser_grid1 icon3">
				<!--<span class="glyphicon glyphicon-bell"></span>-->
					<img src="images/s3.jpg" style="width: 50%;">
				<h3>Commercial interior design</h3>
			
				<!--<p>Phasellus congue erat sem, ut tempor mauris tincidunt non. Nulla in erat-->
				<!--nec orci semper ultrices et sed libero.</p>-->
				<!--<a href="#">Read More <span class="fa fa-angle-right"></span></a>-->
			</div>
			<div class="col-md-3 ser_grid1 icon4">
				<!--<span class="glyphicon glyphicon-picture"></span>-->
				
				<img src="images/s4.jpg" style="width: 50%;">
				<h3>Project Management</h3>
				<!--<p>Phasellus congue erat sem, ut tempor mauris tincidunt non. Nulla in erat-->
				<!--nec orci semper ultrices et sed libero.</p>-->
				<!--<a href="#">Read More <span class="fa fa-angle-right"></span></a>-->
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //Services -->

<!-- services bottom -->
<div class="bottom">
	<div class="bottom_grids">
		<div class="col-md-3 bottom_left">
			<img src="images/left1.jpg" alt="" />
		</div>
		<div class="col-md-6 bottom_middle">
			<div id="typed-strings" class="decorits_decore_strings">
				<p>We do home <i>Decoration</i></p>
				<p>We do <i>Office</i> Design</p>
				<p>We do <i>Interior</i> Design</p>
				<p>We do Commercial <i>Design</i></p>
				<p>We do <i>Living room</i> Design</p>
				<p>We do <i>Wooden wall</i> Design</p>
			</div>
			<span id="typed" style="white-space:pre;"></span>
			<p class="typing_bottom">Phasellus iaculis sapien in tellus gravida, a placerat lacus elementum.
			Nulla vitae lacus nec elit mollis pretium. Sed sed nunc lectus. Integer vehicula
			elit eget dignis simcon. gueint Aliquam sed ultricies tortor. Curabitur ut odio vestibulum, initse
			vehicula velit, sodales purus.<span> Nunc id tellus neque, Quisque. quis elit mollisinect
			pretium.</span> Sed sed nunc lectus tellus gravida gueint ipsum nec.</p>
			<h4>Watch our video here</h4>
			<a class="#" data-toggle="modal" data-target="#myModal1">
				<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
			</a>
		</div>
		<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" >
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<iframe width="420" height="345" src="https://www.youtube.com/embed/watch?v=8LUWjLLNhlw"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3 bottom_right">
		<img src="images/right1.jpg" alt="" />
	</div>
	<div class="clearfix"></div>
</div>
<!-- //services bottom -->


<!-- gallery -->
 <div class="gallery" id="portfolio">
	<div class="container">
		<br><br>
	<h3 class="heading">Our <span>Gallery</span></h3>
		<div class="gallery_gds">
			<div class="col-md-3 gal-dec">
				<div class="decorits-img">
					<a href="images/g1.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
						<img class="img-responsive img-style row2" src="images/g1.jpg" alt=""  />
					</a>
				</div>
			</div>
			<div class="col-md-3 gal-dec">
				<div class="decorits-img">
					<a href="images/g2.jpg" class="swipebox" title="Duis maximus tortor diam, ac lobortis justo rutrum quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non purus fermentum, eleifend velit non">
						<img src="images/g2.jpg" alt="" class="img-responsive img-style row2" />
					</a>
				</div>
			</div>
			<div class="col-md-3 gal-dec">
				<div class="decorits-img">
					<a href="images/g3.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
						<img src="images/g3.jpg" alt="" class="img-responsive img-style row2" />
					</a>
				</div>
			</div>
			<div class="col-md-3 gal-dec">
				<div class="decorits-img">
					<a href="images/g4.jpg" class="swipebox" title="Praesent non purus fermentum, eleifend velit non Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis.">
						<img src="images/g4.jpg" alt="" class="img-responsive img-style row2" />
					</a>
				</div>
			</div>
			<div class="col-md-3 gal-dec">
				<div class="decorits-img">
					<a href="images/g5.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
						<img src="images/g5.jpg" alt="" class="img-responsive img-style row2" />
					</a>
				</div>
			</div>
			<div class="col-md-3 gal-dec">
				<div class="decorits-img">
					<a href="images/g6.jpg" class="swipebox" title="Duis maximus tortor diam, ac lobortis justo rutrum quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non purus fermentum, eleifend velit non">
						<img src="images/g6.jpg" alt="" class="img-responsive img-style row2" />
					</a>
				</div>
			</div>
				<div class="col-md-3 gal-dec">
				<div class="decorits-img">
					<a href="images/g7.jpg" class="swipebox" title="Praesent non purus fermentum, eleifend velit non Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis.">
						<img src="images/g7.jpg" alt="" class="img-responsive img-style row2" />
					</a>
				</div>
			</div>
			<div class="col-md-3 gal-dec">
				<div class="decorits-img">
					<a href="images/g8.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
						<img src="images/g8.jpg" alt="" class="img-responsive img-style row2" />
					</a>
				</div>
			</div>
			<div class="col-md-3 gal-dec">
				<div class="decorits-img">
					<a href="images/g9.jpg" class="swipebox" title="Duis maximus tortor diam, ac lobortis justo rutrum quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non purus fermentum, eleifend velit non">
						<img src="images/g9.jpg" alt="" class="img-responsive img-style row2" />
					</a>
				</div>
			</div>
			<div class="col-md-3 gal-dec">
				<div class="decorits-img">
					<a href="images/g10.jpg" class="swipebox" title="Duis maximus tortor diam, ac lobortis justo rutrum quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non purus fermentum, eleifend velit non">
						<img src="images/g10.jpg" alt="" class="img-responsive img-style row2" />
					</a>
				</div>
			</div>
			<div class="col-md-3 gal-dec">
				<div class="decorits-img">
					<a href="images/g11.jpg" class="swipebox" title="Duis maximus tortor diam, ac lobortis justo rutrum quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non purus fermentum, eleifend velit non">
						<img src="images/g11.jpg" alt="" class="img-responsive img-style row2" />
					</a>
				</div>
			</div>
			<div class="col-md-3 gal-dec">
				<div class="decorits-img">
					<a href="images/g12.jpg" class="swipebox" title="Duis maximus tortor diam, ac lobortis justo rutrum quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non purus fermentum, eleifend velit non">
						<img src="images/g12.jpg" alt="" class="img-responsive img-style row2" />
					</a>
				</div>
			</div>
				<div class="col-md-3 gal-dec">
				<div class="decorits-img">
					<a href="images/g13.jpg" class="swipebox" title="Duis maximus tortor diam, ac lobortis justo rutrum quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non purus fermentum, eleifend velit non">
						<img src="images/g13.jpg" alt="" class="img-responsive img-style row2" />
					</a>
				</div>
			</div>
				<div class="col-md-3 gal-dec">
				<div class="decorits-img">
					<a href="images/g14.jpg" class="swipebox" title="Duis maximus tortor diam, ac lobortis justo rutrum quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non purus fermentum, eleifend velit non">
						<img src="images/g14.jpg" alt="" class="img-responsive img-style row2" />
					</a>
				</div>
			</div>
		   <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //gallery -->

<!-- Team -->
 <!-- <div class="team" id="team">
	<div class="team_grids">
		<div class="col-md-4 team_grid1">
			<h3 class="heading">Our <span>Team</span></h3>
			<h4>Interior designers team</h4>
			<p>The essence of interior deign will always be about people and how they live</p>
			<p class="second_para"> Vestibulum venenatis leo eget ex aliquam, vel tincidunt justo facilisis. Nunc
			egestas lacus in velit aliquam, sed rutrum ex tempor. Nam vel feugiat odio. Pellentesque efficitur dapibus augue.</p>
		</div>
			<div class="col-md-2 col-sm-6 col-xs-6 dec_team_grid">
				<div class="view view-second">
					<img src="images/t1.jpg" alt=" " class="img-responsive" />
					<div class="mask"></div>
					<div class="content">
						<div class="dec_social_icons dec_social_icons1">
							<ul>
								<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#" class="google_plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#" class="pinterest"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<h4>Alexander</h4>
				<p>Interior Designer</p>
			</div>
			<div class="col-md-2 col-sm-6 col-xs-6 dec_team_grid">
				<div class="view view-second">
					<img src="images/g2.jpg" alt=" " class="img-responsive" />
					<div class="mask"></div>
					<div class="content">
						<div class="dec_social_icons dec_social_icons1">
							<ul>
								<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#" class="google_plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#" class="pinterest"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<h4>David Richard</h4>
				<p>Interior Designer</p>
			</div>
			<div class="col-md-2 col-sm-6 col-xs-6 dec_team_grid">
				<div class="view view-second">
					<img src="images/g3.jpg" alt=" " class="img-responsive" />
					<div class="mask"></div>
					<div class="content">
						<div class="dec_social_icons dec_social_icons1">
							<ul>
								<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#" class="google_plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#" class="pinterest"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<h4>Michael Doe</h4>
				<p>Interior Designer</p>
			</div>
			<div class="col-md-2 col-sm-6 col-xs-6 dec_team_grid">
				<div class="view view-second">
					<img src="images/g4.jpg" alt=" " class="img-responsive" />
					<div class="mask"></div>
					<div class="content">
						<div class="dec_social_icons dec_social_icons1">
							<ul>
								<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#" class="google_plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#" class="pinterest"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<h4>Thomas Ridge</h4>
				<p>Interior Designer</p>
			</div>
		<div class="clearfix"></div>
	</div>
</div> -->
<!-- //Team -->

<!-- Clients -->
<!-- <div class="clients-main" id="client">-->
<!--	<div class="container">-->
<!--		<h3 class="heading">Clients <span>Words </span></h3>-->
<!--		<div class="cli-ent">-->
<!--			<section class="slider">-->
<!--				<div class="flexslider">-->
<!--					<ul class="slides">-->
<!--						<li>-->
<!--							<div class="item g1">-->
<!--								<div class="decor-dish-caption">-->
<!--								<img class="lazyOwl" src="images/c1.jpg" alt="" />-->
<!--									<h4>Franklin</h4>-->
<!--								</div>-->

<!--								<div class="clearfix"></div>-->
<!--								<p class="para-de-decor"><span class="fa fa-quote-left" aria-hidden="true"></span> Phasellus iaculis sapien in tellus gravida, a placerat lacus elementum. Nulla vitae lacus nec elit mollis pretium. Sed sed nunc lectus. Integer vehicula elit eget dignissim congue. Aliquam sed ultricies tortor. Curabitur ut odio vestibulum</p>-->
<!--							</div>-->
<!--						</li>-->
<!--						<li>-->
<!--							<div class="item g1">-->
<!--								<div class="decor-dish-caption">-->
<!--								<img class="lazyOwl" src="images/c2.jpg" alt="" />-->
<!--									<h4>Anderson</h4>-->
<!--								</div>-->

<!--								<div class="clearfix"></div>-->
<!--								<p class="para-de-decor"><span class="fa fa-quote-left" aria-hidden="true"></span> Phasellus iaculis sapien in tellus gravida, a placerat lacus elementum. Nulla vitae lacus nec elit mollis pretium. Sed sed nunc lectus. Integer vehicula elit eget dignissim congue. Aliquam sed ultricies tortor. Curabitur ut odio vestibulum</p>-->
<!--							</div>-->
<!--						</li>-->
<!--						<li>-->
<!--							<div class="item g1">-->
<!--								<div class="decor-dish-caption">-->
<!--								<img class="lazyOwl" src="images/c3.jpg" alt="" />-->
<!--									<h4>Williamson</h4>-->
<!--								</div>-->

<!--								<div class="clearfix"></div>-->
<!--								<p class="para-de-decor"><span class="fa fa-quote-left" aria-hidden="true"></span> Phasellus iaculis sapien in tellus gravida, a placerat lacus elementum. Nulla vitae lacus nec elit mollis pretium. Sed sed nunc lectus. Integer vehicula elit eget dignissim congue. Aliquam sed ultricies tortor. Curabitur ut odio vestibulum</p>-->
<!--							</div>-->
<!--						</li>-->
<!--					</ul>-->
<!--				</div>-->
<!--			</section>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!--// Clients -->
<button class="collapsible">You can show the map here!</button>
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3624.5765010214996!2d46.68637721499975!3d24.70708088412651!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f032192766f21%3A0x1e8412b08e6920c0!2sDour+for+business+ladies!5e0!3m2!1sen!2seg!4v1533630838104" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
<!--<div id="map" style="">-->
           
<!--            </div>-->
<!--						<script>-->
<!--					 var coll = document.getElementsByClassName("collapsible");-->
<!--					 var i;-->

<!--					 for (i = 0; i < coll.length; i++) {-->
<!--						 coll[i].addEventListener("click", function() {-->
<!--							 this.classList.toggle("active");-->
<!--							 var content = this.nextElementSibling;-->
<!--							 if (content.style.maxHeight){-->
<!--								 content.style.maxHeight = null;-->
<!--							 } else {-->
<!--								 content.style.maxHeight = content.scrollHeight + "px";-->
<!--							 }-->
<!--						 });-->
<!--					 }-->
<!--					 </script>-->
<!-- contact -->
 <div class="contact" id="contact">
	<div class="container">
		<h3 class="heading">Get In <span>Touch</span></h3>
		<div class="decor-contact-form">
			<div class="col-md-6 contact-form-left">
				<div class="decore-contact-form-top">
					<h3>About Us</h3>
					<p> - Following Global Engineering Standards And Understanding The Customer's Need To See And Integrate Them With Expertise To Achieve The Desired Expectations.</p>
				</div>

				<div class="contact-form-top">
					<h3>Address</h3>
				</div>
				<ul class="con_inner_text">
					<li><span class="fa fa-map-marker" aria-hidden="true"></span><label> Musa Ibn Nussair St, As Sulimaniyah, Riyad</label></li>
					<li><span class="fa fa-envelope-o" aria-hidden="true"></span> <a href="mailto:info@example.com">info@secelion.com</a></li>
					<li><span class="fa fa-phone" aria-hidden="true"></span> 0966532182670</li>
				</ul>
			</div>
			<div class="col-md-6 contact-form-right">
				<div class="contact-form-top">
					<h3>Send us a message</h3>
				</div>
				<div class="decorinfo-contact-form-grid">
					<form action="#" method="post">
						<input type="text" name="Name" placeholder="Name" required="">
						<input type="text" name="Subject" placeholder="Subject" required="">
						<input type="email" name="Email" placeholder="Email" required="">
						<textarea name="Message" placeholder="Message" required=""></textarea>
						<button class="btn1">Submit</button>
					</form>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //contact -->

<!-- footer -->
 <div class="footer">
	<div class="container">
		<div class="f-bg-dec">
			<div class="col-md-4 decore_footer_grid" data-aos="fade-right">
				<h3>About Company</h3>
				<p> - Secelion Offers An Integrated Approach Of Engineering Consultancy In Terms Of Solutions, Innovation And Creative Capabilities To Reality</p>
				<ul class="social_decorinfo">
					<li><a href="#" class="de_facebook"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" class="de_twitter"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="de_instagram"><i class="fa fa-instagram"></i></a></li>
					<li><a href="#" class="de_google"><i class="fa fa-google-plus"></i></a></li>
				</ul>
				<a href="https://info.flagcounter.com/RWK6"><img class="counter" src="https://s11.flagcounter.com/count/RWK6/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_18/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter" border="0"></a>     

			</div>
			<div class="col-md-4 decore_footer_grid" data-aos="fade-right">
				<h3>Contact Us</h3>
					<ul class="con_inner_text">
						<li><span class="fa fa-map-marker" aria-hidden="true"></span><label>Musa Ibn Nussair St, As Sulimaniyah, Riyad</label></li>
						<li><span class="fa fa-envelope-o" aria-hidden="true"></span> <a href="mailto:info@example.com">info@secelion.com</a></li>
						<li><span class="fa fa-phone" aria-hidden="true"></span> 0966532182670</li>
					</ul>

			</div>
			<div class="col-md-4 decore_footer_grid" data-aos="fade-left">
				<h3>Instagram</h3>
				  <ul class="con_inner_text midimg">
					<li><a href="#" data-toggle="modal" data-target="#myModal"><img src="images/banner11.jpg" alt="" class="img-responsive" /></a></li>
					<li><a href="#" data-toggle="modal" data-target="#myModal"><img src="images/banner22.jpg" alt="" class="img-responsive" /></a></li>
					<li><a href="#" data-toggle="modal" data-target="#myModal"><img src="images/banner33.jpg" alt="" class="img-responsive" /></a></li>
					<li><a href="#" data-toggle="modal" data-target="#myModal"><img src="images/banner44.jpg" alt="" class="img-responsive" /></a></li>
					<li><a href="#" data-toggle="modal" data-target="#myModal"><img src="images/banner11.jpg" alt="" class="img-responsive" /></a></li>
					<li><a href="#" data-toggle="modal" data-target="#myModal"><img src="images/banner22.jpg" alt="" class="img-responsive" /></a></li>
					 <li><a href="#" data-toggle="modal" data-target="#myModal"><img src="images/banner33.jpg" alt="" class="img-responsive" /></a></li>
					<li><a href="#" data-toggle="modal" data-target="#myModal"><img src="images/banner44.jpg" alt="" class="img-responsive" /></a></li>
					<li><a href="#" data-toggle="modal" data-target="#myModal"><img src="images/banner11.jpg" alt="" class="img-responsive" /></a></li>
				 </ul>


			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //footer -->

<!-- copyright -->
 <div class="copyright">
	<div class="container">
		<p class="copyright">© 2018 Home. All Rights Reserved | Design by <a href="" target="_blank">BeGroup</a></p>
	</div>
</div>
<!-- //copyright -->












<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<script>
$(document).ready(function(){
  $("a").on('click', function(event) {
    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
        window.location.hash = hash;
      });
    }
  });
});
</script>
<!-- banner-type-text -->
<script src="js/typed.js" type="text/javascript"></script>
<script>
	$(function(){
		$("#typed").typed({
			stringsElement: $('#typed-strings'),
			typeSpeed: 30,
			backDelay: 500,
			loop: false,
			contentType: 'html', // or text
			// defaults to false for infinite loop
			loopCount: false,
			callback: function(){ foo(); },
			resetCallback: function() { newTyped(); }
		});
		$(".reset").click(function(){
			$("#typed").typed('reset');
		});
	});
	function newTyped(){ /* A new typed object */ }
	function foo(){ console.log("Callback"); }
</script>
<!-- //banner-type-text -->

<!-- flexSlider -->
<script defer src="js/jquery.flexslider.js"></script>
<script type="text/javascript">
	$(window).load(function(){
	  $('.flexslider').flexslider({
		animation: "slide",
		start: function(slider){
		  $('body').removeClass('loading');
		}
	  });
	});
</script>
<!-- //flexSlider -->

<!-- swipe box js -->
<script src="js/jquery.adipoli.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function(){
		$('.row2').adipoli({
			'startEffect' : 'overlay',
			'hoverEffect' : 'sliceDown'
		});
	});
</script>
<script src="js/jquery.swipebox.min.js"></script>
<script type="text/javascript">
		jQuery(function($) {
			$(".swipebox").swipebox();
		});
</script>
<!-- //swipe box js -->

<!-- Numscroller -->
<script type="text/javascript" src="js/numscroller-1.0.js"></script>
<!-- //Numscroller -->

<!-- Responsive Slider script -->
<script src="js/responsiveslides.min.js"></script>
<script>
	// You can also use "$(window).load(function() {"
	$(function () {
		$("#slider").responsiveSlides({
			auto: true,
			nav: true,
			manualControls: '#slider3-pager',
		});
	});
</script>
<!-- //Responsive Slider script -->

<script src="js/SmoothScroll.min.js"></script>
<!-- start-smoth-scrolling -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
<!-- move to top-js-files -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<!-- //move to top-js-files -->

<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script><!-- bootstrap js file -->

</body>
</html>
